{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="card col-sm-8 offset-2">
                <div class="card-body">
                    <form method="POST" class="post-form mb-5">
                        {% csrf_token %}
                        {{ person_count_form.as_p }}
                        <button type="submit" name="city_category" class="btn btn-dark col-sm-8 offset-2">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

