{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card  mb-3">
                        <div class="card-body">
                            <h5 class="card-title">etkinlik bilgileri buraya yazılır</h5>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    yorumlar
                                </p>
                                <footer class="blockquote-footer">zaman</footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card mb-8">
                        <div class="card-body">
                            <h5 class="card-title">seans listesi + bilet alma </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}