{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <form method="POST" class="post-form mb-5">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-sm-4">{{ city_form }}</div>
                    <div class="col-sm-4">{{ category_form }}</div>
                </div>
                <button type="submit" name="city_category" class="btn btn-dark">Search
                </button>
            </form>
        </div>
        <div class="container">

            {% if user.is_superuser %}
                <a class="btn btn-success col-sm-2 offset-10 mb-5" href="{% url 'new_event' %}" role="button">Add New
                    Event</a>
            {% endif %}

            <div class="card-deck">
                {% for event in all_events %}
                    <div class="col-sm-4">
                        <div class="card mb-4">
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                {% if user.is_superuser %}
                                    <button type="submit" class="btn btn-danger col-sm-3 offset-8 mt-2">Delete</button>
                                {% endif %}
                                <input type="hidden" name="delete_event" value="{{ event.pk }}">
                            </form>
                            <div class="card-body ">
                                <a href="{% url 'event_details' pk=event.pk %}">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional
                                        content. This content is a little bit longer.</p>
                                </a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}










