{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <form method="POST" class="post-form mb-5">
                {% csrf_token %}
                <div class="row mb-3">{{ new_event_form.event_name }}</div>
                <div class="row mb-3">{{ new_event_form.category_name }}</div>
                <div class="row mb-3">{{ new_event_form.event_owner }}</div>
                <div class="row mb-5">{{ new_event_form.director }}</div>
                <div class="row mb-5">{{ new_event_form.content }}</div>
                <div class="row mb-3">
                    <button type="submit" name="city_category" class="btn btn-dark">Add New Event</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
