{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">kullanıcı bilgileri buraya yazılır</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">10 kullanıcı hareketi buraya yazılır</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">kullanıcının biletleri buraya yazılır</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}