{% extends 'base.html' %}
{% block content %}
    <section class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.username }}</h5>
                            <p class="card-text">{{ user.email }}</p>
                            <p class="card-text">{{ user.first_name }}</p>
                            <p class="card-text">{{ user.last_name }}</p>
                        </div>
                        <a class="btn btn-info " href="{% url 'user_update' %}" role="button">Update</a>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card mb-4">
                         {% for comment in comments %}
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.event}} etkinliğine yorum yazılmış</h5>
                            <h6 class="card-text">{{ comment.text }}</h6>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card mb-4">
                        {% for ticket in tickets %}
                        <div class="card-body">
                            <h5 class="card-title">{{ ticket.event.name }} etkinliğine {{ ticket.ticket_count }} bilet alınmış.</h5>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}